body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #397599;
}

.navbar .sair a {
    color: #ffffff;
    float: right;
    font-size: 20px;
    padding: 14px 26px;
    border: none;
    outline: none;
}

.navbar .sair a:hover {
    color: #ffffff;
    float: right;
    font-size: 20px;
    padding: 14px 26px;
    border: none;
    outline: none;
    background-color: #be2828;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #B0E0E6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    left: 50%;
    right: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #397599;
}

.card h3 {
    font-size: 2em;
    color: #ffffff;
}

.card p {
    font-size: 1.3em;
    color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
}

footer p {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    justify-content: center;
    font-weight: 900;
    color: #fff;
}

footer a {
    margin: 15px 0 0;
    text-decoration: none;
    font-weight: 900;
    color: #B0E0E6;
    padding: 5px;
    border: 1px solid #333;
    transition: 0.3s;
}

footer a:hover {
    margin: 15px 0 0;
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    padding: 5px;
    border: 1px solid #fff;
    transition: 0.3s;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 20px 50px rgb(0, 0, 0, 0.4);
}

.box h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="tel"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #397599;
    padding: 14px 10px;
    width: 240px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: all 0.25s ease-in-out;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="tel"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #be2828;
    color: #fff;
}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #B0E0E6;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.box button[type="submit"]:hover {
    background: #B0E0E6;
    color: #333;
}

.box a {
    border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #B0E0E6;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.box a:hover {
    background: #B0E0E6;
    color: #333;
}

.descer {
    position: relative;
    top: 10px
}